* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #25282A;
    overflow: hidden;
}

.wrapper {
    width: 50vw;
    margin: 0 auto;
}

.container {
    display: flex;
    background-color: aliceblue;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 12rem #73c8adae;
    background-color: rgb(63 93 86);
}

input { display: none; }

.slide { width: 0; }

.img_container {
    width: 50vw;
    height: 60vh;
    border-radius: 0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;
}

.img_1 {
    background-image: url(./assets/mem1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img_2 {
    background-image: url(./assets/mem2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img_3 {
    background-image: url(./assets/mem3.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img_4 {
    background-image: url(./assets/mem4.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#i_1:checked ~ .container .img_1,
#i_2:checked ~ .container .img_2,
#i_3:checked ~ .container .img_3,
#i_4:checked ~ .container .img_4 {
    opacity: 1;
    pointer-events: auto;
}

label {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
    cursor: pointer;
}

.circle {
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.847);
    border-radius: 50%;
    border: 0.1rem solid white;
    transition: 0.5s;
}

label:hover .circle {
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: 0.05rem 0.05rem 1rem #6bd4b3;
}

label:active .circle {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #73c8adae;
}

#i_1:checked ~ .controls_container .controls label[for="i_1"] .circle,
#i_2:checked ~ .controls_container .controls label[for="i_2"] .circle,
#i_3:checked ~ .controls_container .controls label[for="i_3"] .circle,
#i_4:checked ~ .controls_container .controls label[for="i_4"] .circle {
    background-color: #424242;   
}

.controls_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 10vh;
}

.controls { display: flex; }

.title_container {
    display: flex;
    align-items: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    width: 0;
    height: 0;
    visibility: hidden;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 3s;
}

#i_1:checked ~ .controls_container .title_1,
#i_2:checked ~ .controls_container .title_2,
#i_3:checked ~ .controls_container .title_3,
#i_4:checked ~ .controls_container .title_4 {
    width: 100%;
    height: auto;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 950px) {
    .controls_container {
        flex-direction: column;
        align-items: center;
    }

    .controls { order: -1; }

    .title_container { 
        order: 1;
        margin-right: auto;
    }

    .img_container {
        height: 40vh;
    }

    .title {
        font-size: 1rem; 
    }
}

@media (max-width: 635px) {
    .img_container {
        height: 29vh;
    }

    .title {
        font-size: 0.5rem; 
    }
}